@using System.Text.Encodings.Web
 
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">
    <p>
        <a asp-action="Index" asp-controller="TodoList">
            &lt;- Back to list
        </a>
    </p>
    <p>
        <a asp-action="Detail" asp-controller="TodoList" asp-route-orderByRank="@(!Model.OrderByRank)" asp-route-todoListId="@Model.TodoListId">
            <strong>@(Model.OrderByRank ? "Order by importance" : "Order by rank")</strong>
        </a>
    </p>

    <div id="details-container">
        <partial name="_DetailsToDo" model="@Model" />
    </div>

    @if (Model.HasDoneItems())
    {
        <div class="checkbox">
            <label>
                <input id="hide-done-items" type="checkbox" onclick="javascript: $('.list-group li.done').toggleClass('hide')"> Hide items that are marked as done
            </label>
        </div>
    }

    <form id="create-form" style="display: none">
        <partial name="_CreateTodoItemForm" model="@Model.CreateFields" />
    </form>

    <div id="spinner" class="spinner"></div>

    @section Scripts {
        <script type="text/javascript">
            $(function () {
                var settings = {
                    endpointUrls: {
                        createApi: '@Url.Action("ApiCreate", "TodoItem")'
                    },
                    resources: {
                        genericErrorMessage: 'Unexpected error has occurred, please try again later.'
                    },
                    ids: {
                        form: {
                            title: '@Html.Raw(JavaScriptEncoder.Default.Encode(nameof(Model.CreateFields.Title)))',
                            importance: '@Html.Raw(JavaScriptEncoder.Default.Encode(nameof(Model.CreateFields.Importance)))',
                            responsible: '@Html.Raw(JavaScriptEncoder.Default.Encode(nameof(Model.CreateFields.ResponsiblePartyId)))',
                            rank: '@Html.Raw(JavaScriptEncoder.Default.Encode(nameof(Model.CreateFields.Rank)))',
                            todoListId: '@Html.Raw(JavaScriptEncoder.Default.Encode(nameof(Model.CreateFields.TodoListId)))'
                        }
                    }
                };

                var orderByRank = Boolean(@(Model.OrderByRank ? 1 : 0))
                var todoListId = Number(@Model.CreateFields.TodoListId)

                TodoDetailsPage.Init(settings, orderByRank, todoListId);
            })
        </script>
    }
</div>