@using Todo.Services
@using Todo.Data.Entities
@using Microsoft.AspNetCore.Identity
@model Todo.Models.TodoLists.TodoListDetailViewmodel

<p>
    @*<a asp-action="Detail" asp-controller="TodoList" asp-route-orderByRank="@(!Model.OrderByRank)" asp-route-todoListId="@Model.TodoListId">*@
    <a href="javascript:void(0)" id="link-order-by" data-todo-orderbyrank="@(!Model.OrderByRank)">
        <strong>@(Model.OrderByRank ? "Order by importance" : "Order by rank")</strong>
    </a>
</p>

<ul class="list-group">

    <li class="list-group-item">
        @*<a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">*@
        <a href="javascript:void(0)" id="add-new-item">
            <strong>Add New Item</strong>
        </a>
    </li>

    @foreach (var item in Model.GetItemsSorted())
    {

        <li class="list-group-item todo-item @item.GetImportanceClass() @(item.IsDone ? "done" : String.Empty) @(item.IsDone && Model.HideDoneItems ? "hide" : String.Empty)" data-todo-id="@item.TodoItemId" data-todo-rank="@item.Rank">

            <div class="row">

                <div class="col-md-8">
                    <p>
                        <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                            @if (item.IsDone)
                            {
                                <s>@item.Title</s>
                            }
                            else
                            {
                                <text>@item.Title</text>
                            }
                        </a>
                    </p>
                    <i>Rank:</i> <span>@item.Rank</span> <small><a href="javascript:void(0)" class="change-rank">change rank</a></small>
                </div>

                <div class="col-md-4 text-right">
                    <small>
                        @item.ResponsibleParty.UserName <span class="gravatar-name hide" data-gravatar-hash="@item.ResponsibleParty.GravatarHash"></span>

                        <img src="https://www.gravatar.com/avatar/@(item.ResponsibleParty.GravatarHash)?s=30" alt="avatar" />

                    </small>
                </div>
            </div>

        </li>
    }
</ul>

@foreach (var h in Model.GetDistinctGravatarHashes())
{
    <script type="text/javascript" src="https://www.gravatar.com/@(h).json?callback=GravatarApiWrapper.InjectGravatarProfileData"></script>
}